In [111]:
import pandas as pd

In [112]:
df = pd.read_csv('./가공데이터/outlier_check_fin.csv', index_col=0)

In [113]:
df

,상황키워드,감정_대분류,사람문장,추정_감정_대분류
0,"진로,취업,직장",분노,일은 왜 해도 해도 끝이 없을까 화가 난다 그냥 내가 해결하는 게 나아 남들한테 부...,분노
1,"진로,취업,직장",분노,이번 달에 또 급여가 깎였어 물가는 오르는데 월급만 자꾸 깎이니까 너무 화가 나 최...,분노
2,"진로,취업,직장",분노,회사에 신입이 들어왔는데 말투가 거슬려 그런 애를 매일 봐야 한다고 생각하니까 스트...,불안
3,"진로,취업,직장",분노,직장에서 막내라는 이유로 나에게만 온갖 심부름을 시켜 일도 많은 데 정말 분하고 섭...,분노
4,"진로,취업,직장",분노,얼마 전 입사한 신입사원이 나를 무시하는 것 같아서 너무 화가 나 상사인 나에게 먼...,분노
...,...,...,...,...
42869,재정,분노,나이가 먹고 이제 돈도 못 벌어 오니까 어떻게 살아가야 할지 막막해 능력도 없고 아...,NaN
42870,재정,불안,몸이 많이 약해졌나 봐 이제 전과 같이 일하지 못할 것 같아 너무 짜증 나 마음 같...,NaN
42871,재정,상처,이제 어떻게 해야 할지 모르겠어 남편도 그렇고 노후 준비도 안 되어서 미래가 걱정돼...,NaN
42872,대인관계,불안,몇십 년을 함께 살았던 남편과 이혼했어 그동안의 세월에 배신감을 느끼고 너무 화가 ...,NaN
42873,대인관계,상처,남편과 결혼한 지 사십 년이야 이제 사람 만나는 것도 버겁고 알던 사람도 점점 사라...,NaN

In [114]:
df.loc[(df['감정_대분류']== 0), '감정_대분류'] = '불안'
df.loc[(df['감정_대분류']== 1), '감정_대분류'] = '분노'
df.loc[(df['감정_대분류']== 2), '감정_대분류'] = '상처'
df.loc[(df['감정_대분류']== 3), '감정_대분류'] = '슬픔'
df.loc[(df['감정_대분류']== 4), '감정_대분류'] = '기쁨'

In [115]:
df

,상황키워드,감정_대분류,사람문장,추정_감정_대분류
0,"진로,취업,직장",분노,일은 왜 해도 해도 끝이 없을까 화가 난다 그냥 내가 해결하는 게 나아 남들한테 부...,분노
1,"진로,취업,직장",분노,이번 달에 또 급여가 깎였어 물가는 오르는데 월급만 자꾸 깎이니까 너무 화가 나 최...,분노
2,"진로,취업,직장",분노,회사에 신입이 들어왔는데 말투가 거슬려 그런 애를 매일 봐야 한다고 생각하니까 스트...,불안
3,"진로,취업,직장",분노,직장에서 막내라는 이유로 나에게만 온갖 심부름을 시켜 일도 많은 데 정말 분하고 섭...,분노
4,"진로,취업,직장",분노,얼마 전 입사한 신입사원이 나를 무시하는 것 같아서 너무 화가 나 상사인 나에게 먼...,분노
...,...,...,...,...
42869,재정,분노,나이가 먹고 이제 돈도 못 벌어 오니까 어떻게 살아가야 할지 막막해 능력도 없고 아...,NaN
42870,재정,불안,몸이 많이 약해졌나 봐 이제 전과 같이 일하지 못할 것 같아 너무 짜증 나 마음 같...,NaN
42871,재정,상처,이제 어떻게 해야 할지 모르겠어 남편도 그렇고 노후 준비도 안 되어서 미래가 걱정돼...,NaN
42872,대인관계,불안,몇십 년을 함께 살았던 남편과 이혼했어 그동안의 세월에 배신감을 느끼고 너무 화가 ...,NaN
42873,대인관계,상처,남편과 결혼한 지 사십 년이야 이제 사람 만나는 것도 버겁고 알던 사람도 점점 사라...,NaN

In [116]:
df.loc[(df['추정_감정_대분류']== 0.0), '추정_감정_대분류'] = '불안'
df.loc[(df['추정_감정_대분류']== 1.0), '추정_감정_대분류'] = '분노'
df.loc[(df['추정_감정_대분류']== 2.0), '추정_감정_대분류'] = '상처'
df.loc[(df['추정_감정_대분류']== 3.0), '추정_감정_대분류'] = '슬픔'
df.loc[(df['추정_감정_대분류']== 4.0), '추정_감정_대분류'] = '기쁨'

In [117]:
df

,상황키워드,감정_대분류,사람문장,추정_감정_대분류
0,"진로,취업,직장",분노,일은 왜 해도 해도 끝이 없을까 화가 난다 그냥 내가 해결하는 게 나아 남들한테 부...,분노
1,"진로,취업,직장",분노,이번 달에 또 급여가 깎였어 물가는 오르는데 월급만 자꾸 깎이니까 너무 화가 나 최...,분노
2,"진로,취업,직장",분노,회사에 신입이 들어왔는데 말투가 거슬려 그런 애를 매일 봐야 한다고 생각하니까 스트...,불안
3,"진로,취업,직장",분노,직장에서 막내라는 이유로 나에게만 온갖 심부름을 시켜 일도 많은 데 정말 분하고 섭...,분노
4,"진로,취업,직장",분노,얼마 전 입사한 신입사원이 나를 무시하는 것 같아서 너무 화가 나 상사인 나에게 먼...,분노
...,...,...,...,...
42869,재정,분노,나이가 먹고 이제 돈도 못 벌어 오니까 어떻게 살아가야 할지 막막해 능력도 없고 아...,NaN
42870,재정,불안,몸이 많이 약해졌나 봐 이제 전과 같이 일하지 못할 것 같아 너무 짜증 나 마음 같...,NaN
42871,재정,상처,이제 어떻게 해야 할지 모르겠어 남편도 그렇고 노후 준비도 안 되어서 미래가 걱정돼...,NaN
42872,대인관계,불안,몇십 년을 함께 살았던 남편과 이혼했어 그동안의 세월에 배신감을 느끼고 너무 화가 ...,NaN
42873,대인관계,상처,남편과 결혼한 지 사십 년이야 이제 사람 만나는 것도 버겁고 알던 사람도 점점 사라...,NaN

In [118]:
df.to_csv('outlier_check_fin.csv')

In [119]:
df.loc[[2,5,7,8,10]]

,상황키워드,감정_대분류,사람문장,추정_감정_대분류
2,"진로,취업,직장",분노,회사에 신입이 들어왔는데 말투가 거슬려 그런 애를 매일 봐야 한다고 생각하니까 스트...,불안
5,"진로,취업,직장",분노,직장에 다니고 있지만 시간만 버리는 거 같아 진지하게 진로에 대한 고민이 생겨 직장...,상처
7,"진로,취업,직장",기쁨,퇴사한 지 얼마 안 됐지만 천천히 직장을 구해보려고 더 좋은 회사가 기다리고 있을지...,불안
8,"진로,취업,직장",불안,졸업반이라서 취업을 생각해야 하는데 지금 너무 느긋해서 이래도 되나 싶어 응 느긋함...,기쁨
10,"진로,취업,직장",기쁨,취업해야 할 나이인데 취업하고 싶지가 않아 아직 조금 더 놀고 싶은 마음이 커 인생...,분노

In [120]:
df.loc[[14,15,16,17,18,19,20]]

,상황키워드,감정_대분류,사람문장,추정_감정_대분류
14,"진로,취업,직장",슬픔,코로나 때문에 뭘 할 수가 없어 취직 준비를 해야 하는데 시험이 줄줄이 취소되니 말...,기쁨
15,"진로,취업,직장",슬픔,오늘 회사에서 큰 실수를 한 것 같아 중요한 발표가 있었는데 많은 사람 앞에서 말을...,기쁨
16,"진로,취업,직장",슬픔,요즘 취업 관련해서 떠올리기만 해도 온몸이 마비될 것 같아 현재 취업 준비생인데 취...,기쁨
17,"진로,취업,직장",슬픔,어제도 야근 오늘도 야근이야 너무 힘들어 솔직히 말하자면 굳이 야근할 일이 아니야 ...,분노
18,"진로,취업,직장",기쁨,우리 회사는 정말 사내 분위기가 좋아 즐거운 일이 매일 생길 거 같은 기분이야 내가...,상처
19,"진로,취업,직장",기쁨,오늘 내가 다니는 회사가 참 좋은 직장이라는 생각이 들었어 회사에서 내가 제안한 프...,상처
20,"진로,취업,직장",기쁨,회사에서 전공시험을 봤어 오늘 시험 결과가 나왔어 열심히 준비한 만큼 원하던 점수가...,상처

In [121]:
df.loc[[21,22,23,24,25,26,27,28,29,30]]

,상황키워드,감정_대분류,사람문장,추정_감정_대분류
21,"진로,취업,직장",상처,면접관에게 완전히 속았어 면접일에 알려준 연봉과 실수령액이 꽤 차이가 나네 회사 내...,분노
22,"진로,취업,직장",상처,지인이 취업시켜준다면서 사기를 쳤어 배신감이 들어 취업시켜준다면서 십만 원을 달라고...,분노
23,"진로,취업,직장",상처,우리 부모님은 나를 버린 거나 다름없어 내가 진로에 대해 걱정을 할 때 나를 걱정 ...,분노
24,"진로,취업,직장",상처,계속 취업이 안 되니까 버려진 기분이야 내가 능력이 없어서 취업이 안 되나 봐 진짜...,분노
25,"진로,취업,직장",분노,요즘 청년 실업률이 너무 심각한 거 같아 취업해야 하는데 기업들이 채용을 많이 하지...,불안
26,"진로,취업,직장",분노,직장에서 부당한 일을 겪어서 너무 화가 나 이미 주변 사람에게 말해봤는데 반응은 다...,불안
27,"진로,취업,직장",분노,오늘 엄마랑 진로 문제로 크게 싸웠어 그래서 너무 화가 나 나는 미술 쪽으로 가고 ...,불안
28,"진로,취업,직장",분노,오늘 면접은 너무 망했어 낙하산이 있었던 것 같아 모두 그 사람한테만 말을 걸고 웃고,슬픔
29,"진로,취업,직장",분노,부모님이 자꾸 취업하라고 잔소리해 나도 아는데 자꾸 잔소리하니까 화가 나 나도 취업...,슬픔
30,"진로,취업,직장",불안,이제 주변 친구들은 하나둘씩 다 취업에 성공하는데 아직 나만 못해서 불안해 이러다 ...,상처

In [122]:
df.loc[[31,32,33,34,35,36,38,39,40]]

,상황키워드,감정_대분류,사람문장,추정_감정_대분류
31,"진로,취업,직장",불안,나는 내 꿈이 무엇인지 몰라서 불안해 꿈은 모르겠지만 컴퓨터로 무언가를 작업할 때가...,분노
32,"진로,취업,직장",불안,코로나 때문에 출근하는 것이 불안해 사장님께 재택근무를 요청해야겠어,분노
33,"진로,취업,직장",불안,내년이 졸업인데 취업 문제 때문에 걱정이야 학점은 그다지 나쁘지는 않은데 워낙 실업...,분노
34,"진로,취업,직장",슬픔,직장 생활 육 개월 차인데 아직도 적응하기가 힘들어 사회생활이 이렇게 괴롭고 슬픈 ...,분노
35,"진로,취업,직장",슬픔,이번 면접에 또 떨어져서 비통한 마음이야 아니 지나간 건 잊어버릴래 아직 두 번의 ...,분노
36,"진로,취업,직장",상처,나 너무 우울해 회사에서 큰 실수를 했어 해야 하는 일이 있었는데 잊고 있다가 상사...,분노
38,"진로,취업,직장",분노,내 업무가 아닌 일을 자꾸 사수가 시키네 정말 성가셔 꾹 참고하는 데 이젠 한계에 ...,불안
39,"진로,취업,직장",분노,회사 동료가 자꾸 나한테 뭔가를 물어봐 물어보는 동안은 내 업무에 집중을 못 하게 ...,슬픔
40,"진로,취업,직장",분노,일이 참 귀찮게 됐어 낙하산으로 들어온 신입사원이 우리 팀으로 배정받았어 얘는 능력...,상처

In [123]:
df.loc[[41,42,43,44,49,50]]

,상황키워드,감정_대분류,사람문장,추정_감정_대분류
41,"진로,취업,직장",분노,왜 일은 나만 많을까 회사에서 다른 사람이 못한 일을 자꾸 나에게 넘겨,슬픔
42,"진로,취업,직장",분노,우리 신입은 오늘도 그냥 넘어가는 법이 없어 일을 말끔하게 끝내질 못해서 항상 실수...,상처
43,"진로,취업,직장",분노,실습생 하나 담당하게 되었는데 기간이 꽤 길어서 신경 쓰이고 성가시네 아무래도 실습...,슬픔
44,"진로,취업,직장",불안,난 정말이지 언제쯤 든든한 직장을 가질 수가 있을까 응 너무 힘들어 스트레스를 받아...,슬픔
49,"진로,취업,직장",슬픔,진로 문제 때문에 너무 고민이 많아 정말 울적해 내 전공인 디자인인데 요즘 취업이 ...,기쁨
50,"진로,취업,직장",슬픔,고객들이 나에게 폭언을 할 때마다 자존감도 떨어지고 너무 슬퍼 사람들은 내가 감정이...,기쁨

In [124]:
df.loc[[51,52,53,55,56,57,58,59,60]]

,상황키워드,감정_대분류,사람문장,추정_감정_대분류
51,"진로,취업,직장",슬픔,올해 진급 예정이었는데 진급이 안 됐어 슬퍼 기대를 많이 해서인지 실망도 크네 하지...,기쁨
52,"진로,취업,직장",슬픔,이번에 취업 면접을 봤는데 망친 것 같아서 슬퍼 모르겠어 면접에서 떨어지면 어떡하지,기쁨
53,"진로,취업,직장",슬픔,코로나바이러스 때문에 회사에서 해고됐어 너무 슬퍼 이럴 때일수록 잘 먹고 잘 자려고...,기쁨
55,"진로,취업,직장",기쁨,회사에서 나를 참 신뢰하는 것 같아 그건 기분이 좋아 당연히 내가 업무를 잘 처리해...,슬픔
56,"진로,취업,직장",기쁨,먼저 취업한 선배가 면접 비결을 알려줬어 곧 면접 보러 가는데 든든해 면접 볼 때 ...,슬픔
57,"진로,취업,직장",기쁨,직장 상사로부터 칭찬을 받았는데 너무 신이 나 다른 사람이 실수한 일을 내가 깔끔하...,슬픔
58,"진로,취업,직장",기쁨,취업해서 너무 신이 나 나는 월급을 받아서 부모님께 용돈을 드리고 싶어,분노
59,"진로,취업,직장",기쁨,오늘 사장님께 칭찬받아서 매우 기뻐 전 직원 앞에서 내 이름을 부르셨거든 앞으로도 ...,분노
60,"진로,취업,직장",기쁨,지난주에 정말 가고 싶던 회사에 원서 접수했는데 합격했어 매우 기뻐 응 이제 면접만...,불안

In [125]:
df.loc[[61,62,63,64,65,66,67,69,70]]

,상황키워드,감정_대분류,사람문장,추정_감정_대분류
61,"진로,취업,직장",슬픔,얼마 전에 봤던 면접에서 떨어져서 너무 실망스러운 마음이 들어 이번 면접에서의 탈락...,분노
62,"진로,취업,직장",슬픔,이번 면접도 실패야 언제쯤 취직할 수 있을까 남들은 다 취직해서 이제 결혼도 한다는...,분노
63,"진로,취업,직장",슬픔,새로 취업한 회사가 처음에는 좋았는데 갈수록 별로야 회사 일이나 사람이나 전체적으로...,분노
64,"진로,취업,직장",분노,날 면접에서 떨어뜨린 회사에서 만드는 물건은 사지도 않을 거야 정말 화가 나 인재를...,불안
65,"진로,취업,직장",분노,현 직장에서 여성 직원이라는 이유만으로 연봉을 올려주지 않겠대 응 미혼일 경우에도 ...,기쁨
66,"진로,취업,직장",분노,나는 어릴 때부터 명확하게 한 가지 분야의 진로만을 설정해왔고 지금도 이 분야의 직...,상처
67,"진로,취업,직장",분노,회사에서 따돌림당하는 것 같아 뭔가 업무 분담이 악의적으로 느껴져 일단 변호사를 만...,슬픔
69,"진로,취업,직장",분노,빨리 취업하고 싶다 빨리 취업해서 돈 벌고 싶어 월급 받으면 자동차도 사고 여행도 ...,불안
70,"진로,취업,직장",분노,면접 결과를 기다리고 있는데 연락이 없어서 초조해 응 좋은 소식이 있었으면 좋겠어,상처

In [126]:
df.loc[[71,72,75,76,77,79,80]]

,상황키워드,감정_대분류,사람문장,추정_감정_대분류
71,"진로,취업,직장",기쁨,나 드디어 원하는 회사에 취업했어 그동안 취업을 못 해서 부모님께 죄송한 마음도 들...,상처
72,"진로,취업,직장",상처,나는 상사가 하라고 해서 했는데 인제 와서 나보고 한 게 뭐냐고 그러는 거야 그게 ...,슬픔
75,"진로,취업,직장",분노,가뜩이나 취업하기 어려운데 코로나 때문에 더 힘들어졌어 계속 어학 점수 관리하고 있...,불안
76,대인관계,상처,가장 친한 친구가 사업한다고 해서 투자했는데 파업하고 연락도 없이 떠나버렸어 우선 ...,기쁨
77,대인관계,상처,가족들 아니면 다 남이라는 말이 맞나 봐 결국에는 다 자기 생각만 하더군 나는 상처...,기쁨
79,대인관계,분노,같이 일하는 동기가 일 처리를 이상하게 해서 내가 욕을 먹어 그래서 너무 화가 나 ...,불안
80,"연애,결혼,출산",분노,걱정이야 이러다가는 평생 연애만 하고 결혼은 못 할 거 같아 결혼하는 데 드는 비용...,불안

In [127]:
df.loc[[81,83,84,86,87,88,89,90]]

,상황키워드,감정_대분류,사람문장,추정_감정_대분류
81,"진로,취업,직장",슬픔,졸업도 얼마 안 남았는데 취업을 못 해서 앞이 캄캄해 전공을 살릴 수 있는 일을 하...,상처
83,"연애,결혼,출산",슬픔,결혼 삼 년 차인데 아내가 매일같이 잔소리만 해 내가 아내랑 사는 것인지 엄마랑 사...,기쁨
84,"연애,결혼,출산",불안,결혼 준비하면서 참 행복했는데 날짜가 다가올수록 초조해지고 불안해져 막연한 두려움이...,상처
86,"연애,결혼,출산",기쁨,결혼한 지 삼 년 만에 아이를 낳았어 진짜 기뻐 아내와 아이가 모두 건강했으면 좋겠어,슬픔
87,"연애,결혼,출산",분노,결혼한 지 얼마 안 된 신혼이야 그런데 아내가 내 배만 보면 한숨만 푹푹 쉬어 결혼...,기쁨
88,"진로,취업,직장",불안,계속해서 이 직장에 다니는 게 맞는지 잘 모르겠어 여기서는 더 이룰 것이 없는 것 ...,상처
89,"진로,취업,직장",슬픔,계약직으로 일하다가 정규직이 될 줄 알았는데 퇴사 되어 너무 착잡해 다시 취직해야 ...,상처
90,대인관계,불안,군대를 다녀오고 복학하니 대학교에 아는 사람이 없어 나도 친구를 만들고 싶어 메신저...,슬픔

In [128]:
df.loc[[91,92,94,95,98,99,100]]

,상황키워드,감정_대분류,사람문장,추정_감정_대분류
91,대인관계,불안,군대를 다녀오고 복학하니 대학교에 아는 사람이 없어 항상 혼자 다니고 있는데 졸업할...,상처
92,대인관계,상처,그 사람이 날 배신해서 나 상처받았어 어떻게 그 사람이 날 배신 할 수 있지 상처...,분노
94,"연애,결혼,출산",기쁨,그녀가 나에게 사귀자고 고백했어 나도 원하고 있었는데 지금 기분이 너무 좋아 일단 ...,불안
95,"진로,취업,직장",상처,기업 열 군데에 원서를 넣었는데 모두 불합격이래 충격적이야 당연하지 더 노력해서 다...,슬픔
98,"진로,취업,직장",기쁨,나 이번에 지원한 회사 최종합격할 것 같은 기분이 들어 그동안 지원하는 곳마다 불합...,분노
99,"진로,취업,직장",기쁨,나 드디어 유튜브 십만 구독자에 도달했어 다니던 직장 그만두고 시작한 유튜브였는데 ...,불안
100,"진로,취업,직장",슬픔,나 면접에서 또 떨어졌어 벌써 몇 번째인지 모르겠고 정말 고통스러워 응 너무 힘들어...,상처

In [129]:
df

,상황키워드,감정_대분류,사람문장,추정_감정_대분류
0,"진로,취업,직장",분노,일은 왜 해도 해도 끝이 없을까 화가 난다 그냥 내가 해결하는 게 나아 남들한테 부...,분노
1,"진로,취업,직장",분노,이번 달에 또 급여가 깎였어 물가는 오르는데 월급만 자꾸 깎이니까 너무 화가 나 최...,분노
2,"진로,취업,직장",분노,회사에 신입이 들어왔는데 말투가 거슬려 그런 애를 매일 봐야 한다고 생각하니까 스트...,불안
3,"진로,취업,직장",분노,직장에서 막내라는 이유로 나에게만 온갖 심부름을 시켜 일도 많은 데 정말 분하고 섭...,분노
4,"진로,취업,직장",분노,얼마 전 입사한 신입사원이 나를 무시하는 것 같아서 너무 화가 나 상사인 나에게 먼...,분노
...,...,...,...,...
42869,재정,분노,나이가 먹고 이제 돈도 못 벌어 오니까 어떻게 살아가야 할지 막막해 능력도 없고 아...,NaN
42870,재정,불안,몸이 많이 약해졌나 봐 이제 전과 같이 일하지 못할 것 같아 너무 짜증 나 마음 같...,NaN
42871,재정,상처,이제 어떻게 해야 할지 모르겠어 남편도 그렇고 노후 준비도 안 되어서 미래가 걱정돼...,NaN
42872,대인관계,불안,몇십 년을 함께 살았던 남편과 이혼했어 그동안의 세월에 배신감을 느끼고 너무 화가 ...,NaN
42873,대인관계,상처,남편과 결혼한 지 사십 년이야 이제 사람 만나는 것도 버겁고 알던 사람도 점점 사라...,NaN

In [130]:
df = df.dropna()

In [131]:
df['감정_대분류']

0        분노
1        분노
2        분노
3        분노
4        분노
         ..
35911    분노
35912    분노
35913    분노
35914    슬픔
35915    상처
Name: 감정_대분류, Length: 35916, dtype: object

In [132]:
mismatched_row = df['감정_대분류'] != df['추정_감정_대분류']

In [133]:
mismatched_row[90:101]

90      True
91      True
92      True
93     False
94      True
95      True
96     False
97     False
98      True
99      True
100     True
dtype: bool

In [134]:
df['감정_boolean'] = mismatched_row

/var/folders/cy/sw8s66dd02l8b9dj7pqk2ljm0000gn/T/ipykernel_84577/102985527.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['감정_boolean'] = mismatched_row

In [135]:
df

,상황키워드,감정_대분류,사람문장,추정_감정_대분류,감정_boolean
0,"진로,취업,직장",분노,일은 왜 해도 해도 끝이 없을까 화가 난다 그냥 내가 해결하는 게 나아 남들한테 부...,분노,False
1,"진로,취업,직장",분노,이번 달에 또 급여가 깎였어 물가는 오르는데 월급만 자꾸 깎이니까 너무 화가 나 최...,분노,False
2,"진로,취업,직장",분노,회사에 신입이 들어왔는데 말투가 거슬려 그런 애를 매일 봐야 한다고 생각하니까 스트...,불안,True
3,"진로,취업,직장",분노,직장에서 막내라는 이유로 나에게만 온갖 심부름을 시켜 일도 많은 데 정말 분하고 섭...,분노,False
4,"진로,취업,직장",분노,얼마 전 입사한 신입사원이 나를 무시하는 것 같아서 너무 화가 나 상사인 나에게 먼...,분노,False
...,...,...,...,...,...
35911,대인관계,분노,난 아주 어릴 때 아이를 가졌고 좋은 아빠가 되고 싶은데 현실은 나도 그냥 애 같아...,슬픔,True
35912,대인관계,분노,난제대로 된 직업을 갖지 못하고 아르바이트만 전전해 내가 하고 싶은 게 뭔지 모르겠...,분노,False
35913,"진로,취업,직장",분노,남편은 나와 같은 전공에 직무도 같아 남편과 항상 경쟁하는 것 같고 스트레스야 남편...,분노,False
35914,"대인관계(부부, 자녀)",슬픔,난 주재원이라 가족과 떨어져 외국에 나와 있어 배우자가 죽었는데도 당장 가볼 수가 ...,상처,True
35915,"재정,은퇴,노후준비",상처,소득이 낮아 가족들을 부양하기가 어려워 나아질 기미가 보이지 않아 괴롭군 특히 사장...,상처,False

In [136]:
df[df['감정_boolean'] == True]

,상황키워드,감정_대분류,사람문장,추정_감정_대분류,감정_boolean
2,"진로,취업,직장",분노,회사에 신입이 들어왔는데 말투가 거슬려 그런 애를 매일 봐야 한다고 생각하니까 스트...,불안,True
5,"진로,취업,직장",분노,직장에 다니고 있지만 시간만 버리는 거 같아 진지하게 진로에 대한 고민이 생겨 직장...,상처,True
7,"진로,취업,직장",기쁨,퇴사한 지 얼마 안 됐지만 천천히 직장을 구해보려고 더 좋은 회사가 기다리고 있을지...,불안,True
8,"진로,취업,직장",불안,졸업반이라서 취업을 생각해야 하는데 지금 너무 느긋해서 이래도 되나 싶어 응 느긋함...,기쁨,True
10,"진로,취업,직장",기쁨,취업해야 할 나이인데 취업하고 싶지가 않아 아직 조금 더 놀고 싶은 마음이 커 인생...,분노,True
...,...,...,...,...,...
35907,가족관계,불안,부모님은 두 분 다 고졸이시고 공부를 중요하게 생각하지 않으셔 그리고 나한테 무관심...,슬픔,True
35909,학업 및 진로,불안,난 학업 수준이 매우 낮아 게다가 휴대전화에 중독돼서 공부하려고 해도 할 수가 없어...,슬픔,True
35910,가족관계,슬픔,난 정신 분열이 있는데 부모님께서 너무 지나치게 간섭하고 통제하셔서 슬퍼 내 다른 ...,상처,True
35911,대인관계,분노,난 아주 어릴 때 아이를 가졌고 좋은 아빠가 되고 싶은데 현실은 나도 그냥 애 같아...,슬픔,True
35914,"대인관계(부부, 자녀)",슬픔,난 주재원이라 가족과 떨어져 외국에 나와 있어 배우자가 죽었는데도 당장 가볼 수가 ...,상처,True

In [147]:
df1 = df.drop(['감정_boolean'], axis=1)

In [163]:
df1

,상황키워드,감정_대분류,사람문장,추정_감정_대분류
0,"진로,취업,직장",분노,일은 왜 해도 해도 끝이 없을까 화가 난다 그냥 내가 해결하는 게 나아 남들한테 부...,분노
1,"진로,취업,직장",분노,이번 달에 또 급여가 깎였어 물가는 오르는데 월급만 자꾸 깎이니까 너무 화가 나 최...,분노
2,"진로,취업,직장",분노,회사에 신입이 들어왔는데 말투가 거슬려 그런 애를 매일 봐야 한다고 생각하니까 스트...,불안
3,"진로,취업,직장",분노,직장에서 막내라는 이유로 나에게만 온갖 심부름을 시켜 일도 많은 데 정말 분하고 섭...,분노
4,"진로,취업,직장",분노,얼마 전 입사한 신입사원이 나를 무시하는 것 같아서 너무 화가 나 상사인 나에게 먼...,분노
...,...,...,...,...
35911,대인관계,분노,난 아주 어릴 때 아이를 가졌고 좋은 아빠가 되고 싶은데 현실은 나도 그냥 애 같아...,슬픔
35912,대인관계,분노,난제대로 된 직업을 갖지 못하고 아르바이트만 전전해 내가 하고 싶은 게 뭔지 모르겠...,분노
35913,"진로,취업,직장",분노,남편은 나와 같은 전공에 직무도 같아 남편과 항상 경쟁하는 것 같고 스트레스야 남편...,분노
35914,"대인관계(부부, 자녀)",슬픔,난 주재원이라 가족과 떨어져 외국에 나와 있어 배우자가 죽었는데도 당장 가볼 수가 ...,상처
35915,"재정,은퇴,노후준비",상처,소득이 낮아 가족들을 부양하기가 어려워 나아질 기미가 보이지 않아 괴롭군 특히 사장...,상처

In [164]:
df1.to_csv('outlier_check.csv')